In [1]:
!pip install html5lib beautifulsoup4

Requirement already satisfied: html5lib in c:\programdata\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (1.8)

In [29]:
from selenium import webdriver
from bs4 import BeautifulSoup
from time import sleep
import requests
import json
import re
import pandas as pd

In [30]:
from urllib import request
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException

In [31]:
from selenium.webdriver.common.keys import Keys

In [32]:
idol_list = pd.read_csv('92to99_idol_list.csv', encoding = 'utf-8')
idol_list.shape

(47, 7)

In [33]:
idol_list.columns

Index(['debut', 'artist', 'artist_eng', 'member', 'leader', 'gender',
       'agency'],
      dtype='object')

In [34]:
artists = idol_list.artist
print(artists)

0        서태지와 아이들
1            더 블루
2               잼
3           에스오에스
4              듀스
5             노이즈
6              잉크
7              룰라
8               쿨
9              제트
10             터보
11           알이에프
12            스머프
13          에이치오티
14           언타이틀
15           하모하모
16            아이돌
17             구피
18            태사자
19            엔알지
20          오피피에이
21            티앤비
22           젝스키스
23            쎄쎄쎄
24          베이비복스
25          에스이에스
26            원타임
27             신화
28         이글 파이브
29      오피피에이 공공칠
30            팬클럽
31             써클
32             쿠키
33             핑클
34            코요태
35    플라이 투 더 스카이
36            에이포
37            클릭비
38          와이투케이
39            god
40           문차일드
41            오투알
42             씨유
43             폭스
44            클레오
45            티티마
46            오투포
Name: artist, dtype: object

In [35]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome(r'C:\Users\Eunhoo\Code\NLP\chromedriver.exe')
driver.get("https://www.melon.com/search/total/index.htm?q=%EC%86%8C%EB%85%80%EC%8B%9C%EB%8C%80&section=&searchGnbYn=Y&kkoSpl=N&kkoDpType=&ipath=srch_form")

In [36]:
artist_id = []

In [37]:
# n=0
tmp = []
id = ""
for artist in artists:
    sleep(3)
    search = driver.find_element_by_xpath('//*[@id="top_search"]')
    search.send_keys(Keys.CONTROL + "a");
    search.clear()
    #WebDriverWait(driver, timeout)
    search.send_keys(artist)

    # 아티스트명 검색
    search.send_keys(Keys.RETURN)

    try:
        
        # 아티스트 클릭
        driver.find_element_by_xpath('//*[@id="conts"]/div[3]/div/div[1]/div/a/strong').click()
        url = driver.current_url
        tmp = url.split('=')
        id = tmp[1]
        print(artist,id)
        artist_id.append(id)

    
    except NoSuchElementException:
        artist_id.append('')

서태지와 아이들 100161
더 블루 180144
잼 101781
듀스 100977
노이즈 100025
룰라 106610
쿨 100004
제트 108871
터보 100059
알이에프 100015
스머프 247880
에이치오티 100008
언타이틀 100042
하모하모 100178
구피 560358
태사자 100096
엔알지 100010
오피피에이 100013
티앤비 101868
젝스키스 100052
쎄쎄쎄 1272877
베이비복스 216382
에스이에스 100016
원타임 100001
신화 100078
이글 파이브 100051
팬클럽 848990
써클 100036
쿠키 1047075
핑클 100065
코요태 100022
플라이 투 더 스카이 100183
에이포 100763
클릭비 100070
와이투케이 100021
god 100007
문차일드 100185
오투알 100011
씨유 549100
클레오 101397
티티마 100017
오투포 100121

In [38]:
idol_id = artist_id.copy()

In [39]:
idol_id = pd.DataFrame(idol_id)
idol_id.head()

        0
0  100161
1  180144
2  101781
3
4  100977

In [40]:
idol_id.columns = ['idol_id']
idol_id.head()

  idol_id
0  100161
1  180144
2  101781
3
4  100977

In [41]:
idol_list.head()

    debut    artist         artist_eng member leader gender          agency
0  1992.0  서태지와 아이들  SeoTaiji And Boys      3    서태지      남           요요 기획
1     NaN      더 블루           The Blue      2    손지창      남       SM 엔터테인먼트
2  1993.0         잼                Zam      5    조진수      혼         DSP 미디어
3     NaN     에스오에스              S.O.S      4    NaN      여         삼포니 레코드
4     NaN        듀스               DEUX      2    이현도      남  예당 음향 (예당 컴퍼니)

In [42]:
idol_list['idol_id'] = 0

In [43]:
idol_list.update(idol_id)
idol_list

,debut,artist,artist_eng,member,leader,gender,agency,idol_id
0,1992.0,서태지와 아이들,SeoTaiji And Boys,3,서태지,남,요요 기획,100161
1,NaN,더 블루,The Blue,2,손지창,남,SM 엔터테인먼트,180144
2,1993.0,잼,Zam,5,조진수,혼,DSP 미디어,101781
3,NaN,에스오에스,S.O.S,4,NaN,여,삼포니 레코드,
4,NaN,듀스,DEUX,2,이현도,남,예당 음향 (예당 컴퍼니),100977
5,NaN,노이즈,Noise,4,홍종구,남,라인 기획,100025
6,NaN,잉크,ink,7,이상원,남,NaN,
7,1994.0,룰라,Roo'Ra,4,이상민,혼,서울인 프로덕션,106610
8,NaN,쿨,Cool,3 (4),김성수,혼,쿨컴퍼니,100004
9,NaN,제트,Z,3,NaN,남,NaN,108871
10,1995.0,터보,Turbo,3 (2),김정남,남,더 터보 컴퍼니,100059
11,NaN,알이에프,R.ef,3,박철우,남,팀 엔터테인먼트,100015
12,1996.0,스머프,Smurph,5,이희성,혼,NaN,247880
13,NaN,에이치오티,H.O.T.,5,문희준,남,SM 엔터테인먼트,100008
14,NaN,언타이틀,Untitle,2,유건형,남,예당 음향 (예당 컴퍼니),100042
15,NaN,하모하모,HAMO HAMO,2,이성진,남,뮤직 팩토리,100178
16,NaN,아이돌,IDOL,2,최혁준,남,DSP 미디어,
17,NaN,구피,Goofy,3,이승광,남,NaN,560358
18,1997.0,태사자,Taesaja,4,김형준,남,매스컴,100096
19,NaN,엔알지,N.R.G,3 (5),이성진,남,뮤직 팩토리,100010
20,NaN,오피피에이,O.P.P.A,8,김영훈,남,베토벤 뮤직,100013
21,NaN,티앤비,TNB,5,손혁,남,NaN,101868
22,NaN,젝스키스,Sechs Kies,6,은지원,남,YG 엔터테인먼트 (결성은 DSP 미디어),100052
23,NaN,쎄쎄쎄,Se Se Se,3,NaN,여,희레코드,1272877
24,NaN,베이비복스,Baby V.O.X,5,김이지,여,DR 뮤직,216382
25,NaN,에스이에스,S.E.S.,3,바다,여,SM 엔터테인먼트,100016
26,1998.0,원타임,1TYM,4,테디,남,YG 엔터테인먼트,100001
27,NaN,신화,SHINHWA,6,에릭,남,신화 컴퍼니 (결성은 SM 엔터테인먼트),100078
28,NaN,이글 파이브,Eagle Five,5,윤성준,남,NaN,100051
29,NaN,오피피에이 공공칠,OPPA 007,5,ㅡ,남,베토벤 뮤직,
30,NaN,팬클럽,Fan Club,6,홍상진,남,NaN,848990
31,NaN,써클,Circle,5,이지현,여,조선 음향,100036
32,NaN,쿠키,Cooki,3,유나,여,드림 엔터테인먼트,1047075
33,NaN,핑클,Fin.K.L.,4,이효리,여,DSP 미디어,100065
34,NaN,코요태,koyote,3,김종민,혼,KYT 엔터테인먼트,100022
35,1999.0,플라이 투 더 스카이,Fly To The Sky,2,ㅡ,남,H2 미디어 (결성은 SM 엔터테인먼트),100183
36,NaN,에이포,A4,4,이제희,남,NaN,100763
37,NaN,클릭비,Click-B,7,김태형,남,DSP 미디어,100070
38,NaN,와이투케이,Y2K,3,고재근,남,조선 음향,100021
39,NaN,god,god,5,박준형,남,iHQ (싸이더스),100007
40,NaN,문차일드,Moonchild,4,이수,남,GM 기획,100185
41,NaN,오투알,O2R,5,NaN,남,NaN,100011
42,NaN,씨유,See U,3,지니,여,동아 기획,549100
43,NaN,폭스,F.O.X,4,NaN,여,O.G SOUND,
44,NaN,클레오,Cleo,3,김하나,여,호 엔터테인먼트,101397
45,NaN,티티마,T.T.Ma,5,소이,여,뮤직 팩토리,100017
46,NaN,오투포,O-24,3,이가혜,여,은성 기획,100121

In [44]:
idol_list.to_csv('idol_list_with_id.csv')